; Configuration for Postify. These are the default settings for my computer; modify them to suit your purposes

[settings]
Modem = MF627
Port = com16
URL = http://www.postbin.org/1j5rsco
Host = localhost
User = root
Password = 1nspire
Database = smsd